*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    background-color: black;
}

button {
    height: 700px;
    width: 1000px;
    font-size: 100px;
    border-radius: 25%;
    background-color: aquamarine;
    color: ghostwhite;
}
